* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
}

.active {
    background-color: #ccc; 
}

.overdue {
    background-color: #ff0000ba !important;
}

.due-today {
    background-color: #ffff00a8 !important;
}

.due-tomorrow {
    background-color: rgb(0, 102, 255) !important;
}

.hide {
    display: none !important;
}

header {
    padding: 20px 10px;
}

main {
    background-color: #f5f5f5; 

}

#nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#app-container {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 4fr;
    gap: 50px;
    padding: 10px 20px;
}

#projects-sidebar {

}

.project-item {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}

.todo-item {
    background-color: #ccc;
    /* background-color: aliceblue; */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    line-height: 1.6;
}

.btnTodo-add {
    /* position: absolute; */
}

/* Form add todo */
#modal-form {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, .2); */
    display: flex;
    justify-content: center;
    margin: auto;
}

.form-modal {
    position: absolute;
    top: 10%;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    height: auto;
    padding: 30px 25px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6;
    border-radius: 10px;
    box-shadow: black 2px 2px 20px;
}

.form-modal input,
.form-modal select {
    padding: 5px;
    font-size: 15px;
    /* margin-bottom: 8px; */
}

.title-form {
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px 6px;
    font-weight: 800;
}
.btn-form {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;

}

.error-msg {
    color: red; 
    font-size: 14px;
}

.btn-container-todo {

}

.btn-delete-todo {

}

.btn-edit-todo {

}
